<!DOCTYPE html>
<html lang="ja">
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= full_title(yield(:title)) %></title>

  <!-- Uncomment here in Production -->
  <!-- <%= stylesheet_link_tag    "application", :debug => true, :media => "all" %> -->
  <!-- <%= javascript_include_tag "application", :debug => true %> -->


  <!-- Bootstrap core CSS -->
  <link href="../assets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../assets/blog-home.css" rel="stylesheet">


  <!-- Tab Logo -->
  <link href="/logo.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />


</head>




  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/alerts' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
